html,
body,
section,
h1 {
    font-family: 'MuseoSans-100';
    font-size: 1em;
    padding: 0;
    margin: 0;
}

.content {
    height: 100vh;
    max-width: 64vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splashHedz {
    /* font-family: 'MuseoSansDisplay-Black'; */
    font-family: 'Queulat-Bold';
    font-size: 3.6em;
}

.splash {
    background-color: #f1f1f1;
    height: 100vh;
    width: 100vw;
}

.about {
    background: url('../img/tom-brown-pattern.jpg') 50% 0 repeat fixed;
    background-size: 100vw;
    background-color: #24ffc3;
    height: 100vh;
    width: 100vw;
}

.work {
    background-color: #24ffc3;
    height: 100vh;
    width: 100vw;
}

footer{
    background-color: #000;
    color: #fff;
    padding: 1vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
}