/* ====== BASIC STYLING ========= */

.flex-card-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: #fff url(../img/sites/gremlin-green.jpg) no-repeat center center
}

.flex-card-content {
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}

.flex-card-image img {
    display: block;
    position: relative
}

.flex-card-image h3 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}

.flex-card-image p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: yellow;
    padding: 10px 20px 20px;
    text-align: center
}

.flex-card-image a.flex-card-button {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    color: #000;
    text-transform: uppercase;
}

/* .flex-card-image a.flex-card-button:hover {
    box-shadow: 0 0 5px #000
} */


/* ======= PANEL STYLES ==========*/

.flex-card-image img {
    transform: scaleY(1);
    transition: all 0.7s ease-in-out;
}

.flex-card-image .flex-card-content {
    background-color: rgba(255, 231, 179, 0.3);
    transition: all 0.5s linear;
    opacity: 0;
}

.flex-card-image h3 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
    transform: scale(0);
    color: #333;
    transition: all 0.5s linear;
    opacity: 0;
}

.flex-card-image p {
    color: #333;
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
}

.flex-card-image a.flex-card-button {
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
}


/* ===== H O V E R   S T A T E ====== */

.flex-card-image:hover img {
    transform: scale(10);
    opacity: 0;
}

.flex-card-image:hover .flex-card-content {
    opacity: 1;
}

.flex-card-image:hover h3,
.flex-card-image:hover p,
.flex-card-image:hover a.flex-card-button {
    transform: scale(1);
    opacity: 1;
}
